body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Dark overlay */
    z-index: 0;
}

#app {
    width: 90%;
    max-width: 1200px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.weather-card {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.weather-card h2, .weather-card h1, .weather-card p {
    margin: 10px 0;
}

#additionalInfo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.weather-icon {
    font-size: 24px;
    margin-right: 10px;
}

#temperatureChart {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    width: 100%; /* Make the chart responsive */
    height: 150px; /* Adjust the height to make it smaller */
}

#futureTemperatures {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.future-temp-item {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

.future-temp-item .date {
    font-size: 14px;
    color: #bbb;
}

.future-temp-item .temp {
    font-size: 18px;
    font-weight: bold;
}

.search-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.search-icon i {
    font-size: 24px;
}

.search-popup {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 2;
}

.search-popup .form-group {
    margin-bottom: 10px;
}
